<!-- appears only in smaller screen -->

<div id="nav">
  {{ if $.Site.Params.portrait }}
  <a href="/img/{{ $.Site.Params.portrait }}" class="image-link">
    <img class="logo animated flipInY" src="/img/{{ $.Site.Params.portrait }}"/>
  </a>
  {{ end }}
  
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://blog.sakibccr.com/">All Articles</a></li>
    <li><a href="https://sakibccr.com/photos/">Photos</a></li>
    <li><a href="https://sakibccr.com/photos/">Résumé</a></li>
  </ul>

</div>
