<div id="sidebar">
  {{ if $.Site.Params.portrait }}
  <a href="{{ $.Site.Params.portrait | absURL }}" class="image-link">
    <img class="logo animated flipInY" src="{{ $.Site.Params.portrait | absURL }}"/>
  </a>
  {{ end }}

  <h2>URLs</h2>
  <ul>
    {{ range .Site.Menus.main }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
    {{end}}
  </ul>

  <h2>Recent posts</h2>
  <ul>
    {{ range first 10 .Site.RegularPages }}
      {{ if eq .Type "posts" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  <h2>Projects</h2>
  <ul>
    {{ range .Site.Menus.projects }}
      <li><a href="{{.URL}}" target="_blank">{{ .Name }}</li>
    {{end}}
  </ul>
</div>
